@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    background-color: blueviolet;
}

header{
    width: 100%;
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(146, 46, 240);
    transition: 0.5%;
}

/* header .logo{
    minuto 7.50
} */

header{
  position: fixed;
  z-index: 10000;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.logoContainer{ 
      display: flex; 
      padding-left: 1.5%;
      width: 10%;
      max-width: 10%;
      min-width: 4.7em;
      height: 3em;
     
    & img{ max-width: 200%; width: 150%; height: 100%; object-fit: cover; }

    }
header ul li{
    list-style: none;
    margin: 1rem;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
}

header ul li a:hover{
    background: #1aeeef;
    color: black;
    box-shadow: 0 0 10px #1aeeef;
}

header .action .searchBX{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}

header .action .searchBX i{
    font-size: 1.5em;
    margin: 5px;
    color: #222;
}

header .action .searchBX input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

main{  margin-top: 1%;}

.games{
    padding:0px 10%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.games h2{
    color: #fff;
    margin: 1rem 0;
}

.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.games ul li{
    list-style: none;
    padding: 1rem;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #fff;
}

.games ul li.active{
    background: #1aeeef;
    color: black;
    box-shadow: 0 0 10px #1aeeef;
}


.games .cardBx {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas con igual ancho */
    gap: 20px; /* Espacio entre las tarjetas de juego */
    & h1{
      color: #ffffff;text-align: center;
      font-size: large;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.5;
      max-height: 3em;
    } 
    & p{
      color: #1aeeef;text-align: center;
      font-size: large;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 1.5;
      max-height: 3em;
    } 
  }
  
  /* Ajusta el estilo de cada tarjeta de juego */
  .api-game-card {
    width: 100%;
    border-radius: 10px;
    background: #1b1141;
    overflow: hidden;
  }
  
  .api-game-card img {
    height: auto;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    
  }
  
  .api-game-card .content {
    padding: 10px;
  }
  
  .api-game-card .content h1 {
    font-size: 1.2em;
    margin: 0;
  }
  
  .api-game-card .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #35407e;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .api-game-card .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #1aeeef;
    box-shadow: 0 0 10px #1aeeef;
    transform-origin: left;
  }
  .card-image {
    width: 100%; /* Establece el ancho deseado */
    height: 150px; /* Establece la altura deseada */
    object-fit: cover; /* Opcional: para recortar o ajustar las imágenes */
  }

                              .pie{
                                background: rgb(146, 46, 240);
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                            }
                                .footers{
                                  
                                    background:rgb(146, 46, 240);
                                    width: 100%;
                                    margin-top: 1rem;
                                    padding-top: 1rem;
                                }
                                .formulariosCaja{
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                  margin: 2rem;
                                }

                                .formularios{
                                  width: 50%;
                                  display: flex;
                                  flex-direction: column;
                                  margin-top: 7rem;
                                  margin-left: 7rem;
                                  margin-right: 7rem;
                                  padding: 3rem;
                                  background-color: rgb(146, 46, 240);
                                  align-items: start;
                                  text-align: left !important;
                              }
                              .contactos{
                                margin: 7rem;
                              }
                              .contactos{
                                background:blueviolet;
                                display: flex;
                                flex-direction: column; 
                                flex-wrap: nowrap;   
                                justify-content: center;        
                                height: auto;
                                margin-left: 4rem;
                                margin-right: 4rem;
                            }      
                                .menues8{            
                                    height: auto;
                                    padding: 0.5rem;
                                    margin-left: 2rem;
                                    margin-right: 2rem;
                                }  
                                .menu7{
                                  background:blueviolet;
                                  display: flex;
                                  flex-direction: row; 
                                  flex-wrap: nowrap;   
                                  justify-content: center;        
                                  height: auto;
                                  margin-bottom: 0.1rem;
                                  margin-top: 0.1rem;
                                  font-size: 1.2vw !important;
                              }
                                  .menu8{
                                      background:blueviolet;
                                      display: flex;
                                      flex-direction: column; 
                                      flex-wrap: nowrap;   
                                      justify-content: start;  
                                      text-align: left;      
                                      height: auto;
                                      margin-bottom: 0.1rem;
                                      margin-top: 0.1rem;
                                  }
                                      .menues7{
                                          height: auto;
                                          margin: 1rem;                                       
                                          font-size: 1.4vw !important;
                                      }   
                                      .formu{
                                        display: flex;
                                        flex-direction: column;
                                        
                                      }
                                      .formus{
                                        margin: 0.5rem;
                                      }
                                      .formus1{
                                        margin: 0.5rem;
                                      }

                                      






                                      .youtube{
                                        padding:0px 10%;
                                        width: 100%;
                                        min-height: 100vh;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                                    
                                    }
                                    
                                    .flexbox-container {
                                      display: -ms-flex;
                                      display: -webkit-flex;
                                      display: flex;
                                      flex-direction: column;
                                      justify-content: center;
                                      align-items: center;
                                      }
                                      .flexbox-container > div {
                                      width: 50%;
                                      padding: 10px;
                                      }
                                      
                                      .flexbox-container > div:first-child {
                                      margin-right: 20px;
                                      }
                                    
                                      .montly{
                                        color: white;
                                        text-align: center;
                                      }
                                      .ifra{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                      }
                                    
                                      h5{
                                        color: white;
                                      }
                                    
                                    
                                      /* Carrousel */
                                      .carousel {
                                        position: relative;
                                      }
                                      .carousel	input {
                                        position: absolute;
                                        left: 0;
                                        z-index: 3;
                                        margin: 0;
                                      }
                                      .carousel input:before {
                                        position: absolute;
                                        content: "<";
                                      }
                                      input:checked ~ input:before {
                                        content: ">";
                                      }
                                      input:checked {
                                        display: none;
                                      }
                                      input:checked ~ input {
                                        right: 0;
                                        left: auto;		
                                      }
                                      input:checked + div + input {
                                        z-index: 4;
                                      }
                                      input + div {
                                        position: absolute;
                                        z-index: 1;
                                      }  
                                      input:checked + div {
                                        z-index: 2;
                                      }  
                                      
                                      .carousel {
                                        width: 40rem;
                                        height: 20rem;
                                        margin: 2em auto;
                                        overflow:hidden;
                                        transform: translateZ(0px);
                                        box-shadow: 0 0 2px 1px #ccc;
                                      }
                                      .carousel	input {
                                        top: 240px;
                                        width: 60px;
                                        height: 60px;
                                        left: 10px;
                                      }
                                      input:checked ~ input {
                                        right: 10px;	
                                      }
                                      .carousel input:before {
                                        background: #888;
                                        border-radius: 50%;
                                        color: #fff;
                                        font-size: 25px;
                                        width: 50px;
                                        height: 50px;
                                        line-height: 50px;
                                        text-align: center;
                                        border: 5px solid #fff;
                                      }
                                      
                                      #carousels input + div {
                                        transform: translate3d(-100%,0,0);
                                        transition: transform .5s ease-in-out;
                                      }
                                      #carousels input:checked + div {
                                        transform: translate3d(0,0,0);
                                      }
                                      #carousels input:checked + div ~ div {
                                        transform: translate3d(100%,0,0);
                                      }
  

  @media (max-width: 800px) {
    /* Redefine los estilos del encabezado para ocupar menos espacio */
    /* header {
      padding: 1rem 2rem;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      & .logoContainer {display: none;}

    }
    header .nav {
      display: flex;
      flex-direction: column; 
    }
    header .action .searchBX {
      
      padding: 1rem;
      margin: 1rem;
    } */
    header{
      width: 100%;
    }
    .action{
      width: 30%;
      & input{ width: 30%}
    
    
    }
    /* Ajusta el estilo de la tarjeta de juego para que se adapte a pantallas más pequeñas */
    .api-game-card {
      margin-top: 7rem;
      width: 100%; /* Ocupará todo el ancho disponible */
    }
    .games{
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
      .formulariosCaja{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .formularios{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        background-color: rgb(146, 46, 240);
        align-items:start;
        text-align: left !important;
    }
    .formus{
      margin: 0.1rem;
    }
  .menu7{
    background:blueviolet;
    display: flex;
    flex-direction: column; 
    flex-wrap: nowrap;   
    justify-content: center;        
    height: auto;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    font-size: 1.2vw !important;
}
.menues7{
  font-size: 2vw !important;
  text-align: center;
}
.carousel{
    width: 15rem; /* Establece el ancho deseado */
    height: 150px; /* Establece la altura deseada */
    object-fit: cover; /* Opcional: para recortar o ajustar las imágenes */
 
}
.ifra{
    width: 100%; /* Establece el ancho deseado */
    height: 15rem; /* Establece la altura deseada */
    object-fit: cover; /* Opcional: para recortar o ajustar las imágenes */
    margin-bottom: 7rem;
    margin-top: 7rem;
}
.imagen{
  
  width: 100%; /* Establece el ancho deseado */
  height: 150px; /* Establece la altura deseada */
  /* Opcional: para recortar o ajustar las imágenes */
}
.menues8{       
  margin: 0;
  padding: 0;
  text-align: center;
}  
.montly{
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  justify-content: left;
}
.flexbox-container{  
  padding: 0;
  margin: 0;
  width: 100%;
}
}

  
  /* Estilos para pantallas aún más pequeñas, como teléfonos */
  @media (max-width: 480px) {
    header {
      position: relative;
      padding: 1rem 2rem;
      & nav{}
    }
    .banner .content {
      font-size: 1rem;
    }
    
  }

  @media (width < 800px){
    .games .cardBx {
        grid-template-columns: repeat(2, 1fr); 
    }
    .main1{
      margin-top: 7rem;
      padding-top: 7rem;
    }
    .cabeza1{
    }
  
    
  }
  @media (width <= 540px){
    .games .cardBx {
        grid-template-columns: repeat(1, 1fr); 
    }
  }


  /*a partir de este Punto nada mas se achica*/
  @media (width <= 400px) {
    body {
        min-width: 320px; 
      }
  }

  /*a partir de aca la barra de busqueda queda piola*/
  @media (width <= 450px) {
    
  }

  /* Arreglo del Nav resposive, que antes estaba BIEN! */
@media (width <= 650px) {
  .liHome{
    display: none;
  }
  
  .nav{
    & li{ margin: 2%;}
  }
  }
  @media (width <= 490px) {
    header{position: relative;}
    ul {flex-direction: column; width: 100%;}
    .nav{
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  }
